.card {
    background: grey;
    border-radius: 2px;
    box-shadow: 0 3px 6px maroon, 0 3px 6px maroon;
    text-align: left;
    justify-content: center;
}

.card>.img-container {
    overflow: hidden;
    text-align: center;
    justify-content: center;  
    margin: 20px;   
}

.card>.img-container>img {
    width: 150px;   
}